{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block js %}
<script src="{% static 'core/js/jspost.js' %}"></script>


{% endblock %}

{% block contenido %}

        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Agregar Proveedores</h9>
            </div>
        </section>

        {{mensaje}}
        <section id="blog">

            <div class="sector-formulario">
                <br><br><br>
                <form action="" method="POST" class="formulario">
                    {% csrf_token %}
                    <h4 class="formulario_titulo">Añadir Proveedor</h4>
                    <div class="contenedor-inputs">
                        <table>
                            <p class="campo">Rut Proveedor:</p><input name="rutProv" class="input-form"></input>
                            <p class="campo">Nombre:</p><input name="nomCom" class="input-form"></input>
                            <p class="campo">Fono:</p><input name="fono" class="input-form"></input>
                            <p class="campo">Email:</p><input name="email" class="input-form"></input>
                            <p class="campo">Direccion:</p><input name="direc" class="input-form"></input>
                            <p class="campo">Comuna:</p>
                            <select class="combobox" name="comuna">
                                <option >--</option>
                                {% for comuna in comunas %}
                                <option value="{{comuna.0}}">{{comuna.1}}</option>
                                {% endfor %}
                            </select>
                            <p class="campo">Giro Comercial:</p><textarea name="giroCom" class="input-form"></textarea>
                            <p class="campo">Razon Social:</p><input name="razonSoc" class="input-form"></input>                       
                        </table>
                        <input type="submit" value="Agregar" class="btn-enviar">
                        <input type="reset" value="Limpiar" class="btn-enviar">
                        <br>
                    </div>
                </form>
            </div>
        </section>

{% endblock contenido %}