{% extends 'core/base.html' %}

{% load static %}


{% block contenido %}


        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Agregar insumo</h9>
            </div>
        </section>

        {{mensaje}}
        <main id="contenido">
            
            <div class="sector-formulario">
                <br><br>
                <form action="" method="POST" class="formulario">
                    {% csrf_token %}
                    <h4 class="formulario_titulo">Añadir nuevo insumo</h4>
                    <div class="contenedor-inputs">
                        <table>
                            <p class="campo">Codigo producto:</p><input name="idProd" class="input-form"></input>
                            <p class="campo">Estado:</p>
                            <select class="combobox" name="id_estado">
                                <option >--</option>
                                {% for estado in estados %}
                                <option value="{{estado.0}}">{{estado.1}}</option>
                                {% endfor %}
                            </select>
                            <p class="campo">Tipo Producto:</p>
                            <select class="combobox" name="id_tip_prod">
                                <option >--</option>
                                {% for tipo in tipos %}
                                <option value="{{tipo.0}}">{{tipo.1}}</option>
                                {% endfor %}
                            </select>
                            <p class="campo">Rut Proveedor:</p><input name="rutProv" class="input-form"></input>
                            <p class="campo">Nombre insumo:</p><input name="nomInsumo" class="input-form"></input>
                            <p class="campo">marca:</p><input name="marca" class="input-form"></input>
                            <p class="campo">modelo:</p><input name="modelo" class="input-form"></input>
                            <p class="campo">Descripcion:</p><textarea name="descrip" class="input-form"></textarea>
                            <p class="campo">Valor:</p><input name="valor" class="input-form"></input>
                            <p class="campo">Precio Venta:</p><input name="valorVenta" class="input-form"></input>
                            <p class="campo">imagen:</p><input type="file" name="imagen0" class="input-form"></input>
                            <p class="campo">imagen:</p><input type="file" name="imagen1" class="input-form"></input>
                            <p class="campo">imagen:</p><input type="file" name="imagen2" class="input-form"></input>
                            <p class="campo">imagen:</p><input type="file" name="imagen3" class="input-form"></input>
                            <p class="campo">imagen:</p><input type="file" name="imagen4" class="input-form"></input>
                            <p class="campo">Stock:</p><input name="stock" class="input-form"></input> 
                            
                        </table>
                        <input type="submit" value="Agregar" class="btn-enviar">
                        <input type="reset" value="Limpiar" class="btn-enviar">
                        <br>

                    </div>
                </form>
            </div>

{% endblock %}