{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% load static %}


{% block contenido %}

        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Envio de Factura</h9>
            </div>
        </section>

        {{mensaje}}
        <section id="blog">

            <div class="sector-formulario">
                <br><br><br>
                <form action="" method="POST" class="formulario">
                    {% csrf_token %}
                    <h4 class="formulario_titulo">Enviar Factura</h4>
                    <div class="contenedor-inputs">
                        <table>
                            <p class="campo">Numero Operacion: </p><input name="nroOper" class="input-form"></input>
                            <p class="campo">Numero Factura: </p><input name="nroFac" class="input-form"></input>
                            <p class="campo">Rut Proveedor: </p><input name="rutProv" class="input-form"></input>
                            <p class="campo">Fecha: </p><input name="fecha" class="input-form" type="date"></input>
                            <p class="campo">Total Neto: </p><input name="totalNeto" class="input-form"></input>
                            <p class="campo">Codigo Trabajador: </p><input name="codTrab" class="input-form"></input>
                            <p class="campo">Codigo Departamento: </p><input name="idDep" class="input-form"></input>
                            <p class="campo">Numero Orden Compra: </p><input name="nroOrden" class="input-form"></input>
                            <p class="campo">Detalle Compra: </p> </p><textarea name="detCom"></textarea>
                        </table>
                        <input type="submit" value="Agregar" class="btn-enviar">
                        <input type="reset" value="Limpiar" class="btn-enviar">
                        <br>
                    </div>
                </form>
            </div>
        </section>

{% endblock contenido %}