{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Los Mejores equipos</h9>
            </div>
        </section>

        <section id="Bienvenidos">
            <h2>Bienvenidos a la inovación PChantery </h2>
            <p>Aquí podrás encontrar la mejor tecnología en equipos de ultima generación. Notebooks, Impresoras,
                Servidores, Servicio Técnico, todo lo que necesites en un solo lugar. Te invitamos a vivir la mejor experiencia en diseño y sonido.</p>
        </section>


{% endblock %}