{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Los Mejores equipos</h9>
            </div>
        </section>

        <section id="Bienvenidos">
            <h2>Bienvenidos a la inovación PChantery </h2>
            <p>Aquí podrás encontrar la mejor tecnología en equipos de ultima generación. Notebooks, Impresoras,
                Servidores, Servicio Técnico, todo lo que necesites en un solo lugar. Te invitamos a vivir la mejor experiencia en diseño y sonido.</p>
        </section>

        <section id="blog">
            <div class="sector-formulario">
                <br>
                <form action="registrar.php" method="POST" class="formulario">
                    <h4 class="formulario_titulo">Cuenta</h4>
                    <div class="contenedor-inputs">
                        <h6>Nombre de usuario</h6>
                        <input type="text" name="usuario" placeholder="Nombre de usuario" class="input-100" required>
                        <h6>Contraseña</h6>
                        <input type="text" name='contraseña' placeholder="contraseña" class="input-100">
                        <h4 class="center" ><h6>¿Perdiste tu contraseña?</h6><a href="">Click Aqui</a></h4>
                        <input type="submit" value="Ingresar" class="btn-enviar" href="#">
                        
                        <br>

                    </div>
                </form>
            </div>

        </section>

{% endblock %}