{% extends 'core/base.html' %}

{% load static %}

{% block javascript %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>

{% endblock %}



{% block contenido %} 

<section id="banner">
    <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
    <div class="contenedor">
        <h9>Lista de Insumos</h9>
    </div>
</section>


<section id="blog">
    <div class="listar_proveedor">
            <div class="filtro"> 
                <label class="input-62">Filtrar por codigo o nombre: </label>
                <input type="search" name="filtrar" id="filtro" placeholder="Filtrar por codigo" class="input-65" required> 
                <input type="submit" value="Buscar" class="btn-opcion">
            </div>
        <table border="4">
            <tr>
                <th>codigo</th>
                <th>Tipo Producto</th>
                <th>Nombre insumo</th>
                <th>marca</th>
                <th>modelo</th>
                <th>Descripcion</th>
                <th>Valor</th>
                <th>imagen</th>
                <th>modelo</th>

            </tr>
            <!--consulta base datos-->
            {% for producto in productos %}
            <tr>
                <td>{{producto.0}}</td>
                {% for tipo in tipos %}  
                {% if producto.1 == tipo.0 %}
                <td>{{tipo.1}}</td>
                {% endif %}
                {% endfor %}
                <td>{{producto.2}}</td>
                <td>{{producto.3}}</td>
                <td>{{producto.4}}</td>
                <td>{{producto.5}}</td>
                <td>{{producto.6}}</td>
                <td><img src="{{producto.7}}" alt=""></td>
                <td>{{producto.8}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>

{% endblock %}