{% extends 'core/base.html' %}

{% load static %}

{% block contenido %} 

        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Modificar Proveedores</h9>
            </div>
        </section>

        {{mensaje}}
        <section id="blog">
            <script src="{% static 'core/js/regiones_comunas.js' %}"></script>
            <div class="sector-formulario">
                <br><br><br>
                <form action="" method="POST" class="formulario">
                    {% csrf_token %}
                    <h4 class="formulario_titulo">Modificar proveedor</h4>
                    <div class="contenedor-inputs">
                        <table>
                            {{ form.as_table }}
                        </table>
                        <input type="submit" value="Modificar" class="btn-enviar">
                        <input type="reset" value="Limpiar" class="btn-enviar">
                        <br>

                    </div>
                </form>

            </div>

        </section>

{% endblock %}