{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% load static %}


{% block contenido %}

        <section id="banner">
            <img src="{% static 'core/imagenes/Shiprincipal.jpg' %}">
            <div class="contenedor">
            <h9>Envio de Factura</h9>
            </div>
        </section>

        {{mensaje}}
        <section id="blog">

            <div class="sector-formulario">
                <br><br><br>
                <form action="" method="POST" class="formulario">
                    {% csrf_token %}
                    <h4 class="formulario_titulo">Orden Compra</h4>
                    <div class="contenedor-inputs">
                        <table>
                            <p class="campo">Numero orden: </p><input type="text">{{orden.0}}</input>
                            <p class="campo">Rut Proveedor: </p><input class="input-form"></input>
                            <p class="campo">Fecha: </p><input class="input-form" type="date"></input>
                            <p class="campo">Detalle Compra: </p> </p><textarea></textarea>
                            <p class="campo">*ingrese id producto separado por una coma la cantidad</p>
                            <p class="campo">(saltar fila para uno nuevo) </p>

                        </table>
                        <input type="submit" value="Agregar" class="btn-enviar">
                        <input type="reset" value="Limpiar" class="btn-enviar">
                        <br>
                    </div>
                </form>
            </div>
        </section>

{% endblock contenido %}